.logo {
    color: var(--accent-color);
    font-family: Raleway, sans-serif;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.header__logo {
    margin-top: 16px;
    margin-bottom: 16px;

    @media screen and (min-width: $tablet) {
    margin-top: 26px;
    margin-bottom: 26px;
    margin-right: 93px; }

   
}

.header__logo--dark {
    color: #000000
}

.footer__logo--light {
    color: var(--hero-text-color);
}